<% provide(:title, @user.name) %>
<div class="container">
  <div>
    <table class="table table-bordered table-condensed user-table">
      <tbody>
        <tr>
          <td><%= link_to "◀", user_path(date: @first_day.prev_month), class:"btn btn-primary", id:"click1" %>
          　<%= l(@first_day, format: :middle) %>
          時間管理表　
          <%= link_to "▶", user_path(date: @first_day.next_month), class:"btn btn-primary", id:"click2" %></td>
          
          <td>指定時間：<%= format_basic_info(@user.work_time) %></td>
          <td colspan="3">基本時間 : <%= format_basic_info(@user.basic_time) %></td>
          <td>月初 : <%= l(@first_day, format: :short) %></td>
        </tr>
        <tr>
          <td>所属 : <%= @user.department.present? ? @user.department : "未所属" %></td>
          <td>名前 : <%= @user.name %></td>
          <td>コード</td>
          <td></td>
          <td>出勤日数 : <%= @worked_sum %>日</td>
          <td>末日 : <%= l(@last_day, format: :short) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-user-show">
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class:"btn btn-success margin-bottom" %>
  </div>
  <div>
    <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
      <thead>
        <tr>
          <th rowspan="2">日付</th>
          <th rowspan="2">曜日</th>
          <th rowspan="2">出勤登録</th>
          <th colspan="2">出社</th>
          <th colspan="2">退社</th>
          <th rowspan="2">在社時間</th>
          <th rowspan="2">備考</th>
        </tr>
        <tr>
          <th>時</th>
          <th>分</th>
          <th>時</th>
          <th>分</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <% if day.worked_on.wday == 6
               x = "sat"
             elsif day.worked_on.wday == 0
               x = "sun"
             end %>
          <td class="<%= x %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class:"btn btn-primary btn-attendance" %>
            <% end %>  
          </td>
          <td><%= l(day.started_at, format: :time1) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :time2) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, format: :time1) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :time2) if day.finished_at.present? %></td>
          <td><!-- 出社時間と退社時間が存在するか確認した上でメソッドを呼び出し在社時間を計算
              1日の在社時間を出すと共に累計時間も計算してる -->
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @todal_working_times = @todal_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">累計日数</th>
          <th colspan="3">総合勤務時間</th>
          <th colspan="3">累計在社時間</th>
          <th>所長承認</th>
        </tr>
        <tr>
          <td colspan="2"><%= @attendances.count %></td>
          <!-- 戻り値を整数にするのに→to_fメソッドを使用　勤怠10章参照 -->
          <td colspan="3"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
          <td colspan="3"><%= format("%.2f",@todal_working_times.to_f) %></td>
          <td></td>
        </tr>
      </tfoot>
      
    </table>
  </div>
</div>